{% extends 'base.html' %}

{% block title %}
Coffee House
{% endblock %}

{% block main %}
<h1>H1 Tag</h1>
<div id="login-container" class="middle-form light-background">
    <form id="login-form" method="POST" class="w-100 text-center">        
        {% csrf_token %}
        <label for="username" class="w-100">Username</label><br>
        <input type="text" id="username" name="username" class="form-control-lg" placeholder="example@email.com"><br>
        <label for="password" class="w-100">Password</label><br>
        <input type="password" id="password" name="password" class="form-control-lg" placeholder="password"><br>
        <div class="w-100">
            <a href="{% url 'register' %}">Not registered yet?</a><br>
            <hr>
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}