{% extends 'base.html' %}

{% block title %}
Coffee House | Reset password
{% endblock %}

{% block main %}
<div class="middle-form light-background rounded mb-3 text-center">
    <div>
        <h5>Change Password</h5>
        <hr>
    </div>
    <form method="POST" action="" class="w-100 text-center">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="w-100">
            <hr>
            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary" href="{% url 'account_login'  %}">Cancel</a>
                <input class="btn btn-danger" type="submit" value="Change Password">
            </div>
        </div>
    </form>
</div>
{% endblock %}