{% extends 'base.html' %}

{% block title %}
Coffee House | Create a user
{% endblock %}

{% block main %}
<!--Registration form-->
<!-- Registration form done following a Django tutorial by Dave Gray https://www.youtube.com/watch?v=DIFaOkxy6TE-->
<div class="container d-flex justify-content-center">
    <div id="login-container" class="middle-form light-background rounded mb-3">
        <form id="register-form" method="POST" action="{% url 'account_signup' %}" class="w-100 text-center" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
    
            <div class="w-100 text-center">
                <hr>
                <input class="btn btn-success" type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
{% endblock %}