{% extends 'base.html' %}

{% block title %}
Coffee House
{% endblock %}

{% block main %}
<h1>H1 Tag</h1>
<div id="login-container" class="middle-form">
    <form id="login-form" action="POST">
        <label for="email" class="w-100 text-center">Email</label><br>
        <input type="email" id="email" class="form-control-lg" placeholder="example@email.com"><br>
        <label for="password" class="w-100 text-center">Password</label><br>
        <input type="text" id="password" class="form-control-lg" placeholder="password"><br>
        <div class="w-100 text-center">
            <a href="">Not registered yet?</a><br>
            <hr>
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}