{% extends 'base.html' %}

{% block title %}
Coffee House | Create a user
{% endblock %}

{% block main %}
<!-- Registration form done following a Django tutorial by Dave Gray https://www.youtube.com/watch?v=DIFaOkxy6TE-->
<h1>H1 Tag</h1>
<div id="login-container" class="middle-form">
    <form id="register-form" action="POST" class="w-100 text-center">
        {% csrf_token %}
        {{ form }}

        <div class="w-100 text-center">
            <hr>
            <input type="submit" value="Register">
        </div>
    </form>
</div>
{% endblock %}